name: Ai Code Review Assistant
on:
    pull_request:
        types: [opened, synchronize, reopened]
jobs:
    code-review:
        runs-on: ubuntu-latest
        steps:
            # Check out the repo to access the PR diff
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Get PR Diff
              run: |
                curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                    -H "Accept: application/vnd.github.v3.diff" \
                    https://api.github.com/repos/emikac123-hub/git-bro/pulls/2 \
                    > pr.diff
                echo "diff_content=$(cat pr.diff | base64 -w 0)" >> $GITHUB_OUTPUT
            - name: Debug API Response
              id: debug-request
              run: |
                    curl -s -H "Authorization: Bearer ${{ secrets.GITHUB_TOKEN }}" \
                        -H "Accept: application/vnd.github.v3.diff" \
                        https://api.github.com/repos/emikac123-hub/git-bro/pulls/2 \
                        | head -n 10
            # Call the Code Review Assistant API
            - name: Call Code Review API
              id: call-api
              env:
                API_URL: https://*.ngrok.io/api/review/analyze. # TODO: Replace with an actual url.
                HUGGINGFACE_API_TOKEN: ${{ secrets.HUGGINGFACE_API_TOKEN }}
              run:  |
                response=$(curl -s -X POST "$API_URL?pullRequestId=${{ github.event.pull_request.number }}&filePath=src/Main.java" \
                                -H "Content-Type: text/plain" \
                                -d "$(echo ${{ steps.get-diff.outputs.diff_content }} | base64 -d)")
                echo "feedback=$(echo $response | jq -r '.feedback')" >> $GITHUB_OUTPUT
            - name: Post PR Comment
              uses: actions/github-script@v7
              with:
                github-tokens: ${{ secrets.GITHUB_TOKEN }}
                script: |
                        const feedback = `${{ steps.call-api.outputs.feedback }}`;
                        await github.rest.issues.createComment({
                        owner: context.repo.owner,
                        repo: context.repo.repo,
                        issue_number: context.issue.number,
                        body: `AI Code Review: ${feedback}`
                        });

                    
        
